@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Mochiy+Pop+P+One&family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700&display=swap");
html {
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Mochiy Pop P One', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --primary: #000;
  --secondary: #18181b;
  --icon-hover: #d4d4d8;
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244, 244, 245);
  --subtitle: rgb(161, 161, 170);

  --bg-header: rgb(39, 39, 42);
  --bg-form: rgba(63, 63, 70, 0.15);

  --color-form: #fff;
  --blue: #5dbcfc;
}
.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --icon-hover: #333;
  --border: rgba(202, 202, 202, 0.518);
  --title: rgb(39, 39, 42);
  --subtitle: rgb(82, 82, 91);
  --bg-header: rgb(253, 253, 253);
  --bg-card: rgb(199, 188, 188);
  --bg-form: rgb(250, 250, 250);
  --color-form: #000;
  --blue: rgb(0, 149, 246);
}
body {
  background-color: var(--primary);
  color: #fff;
}
.container {
  border: 3px solid var(--border);
  width: 80%;
  margin: auto;
  background-color: var(--secondary);
  padding: 0 2rem;
}
.divider {
  border: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + 2rem + 2rem);
  margin-left: -2rem;
}
.flex {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.border {
  border: 2px solid red;
}
a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}
.icon {
  /* border: 1px solid var(--border);
  border-radius: 50%;
  height: 3rem;
  width: 3rem; */
  font-size: 1.5rem;
  color: var(--subtitle);
  &:hover {
    scale: 1.2;
    color: var(--icon-hover);
    cursor: pointer;
  }
}
button {
  all: unset;
  cursor: pointer;
  &:active {
    scale: 0.85;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.scrollToTop {
  background-color: var(--blue);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.4rem;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  right: 3%;
}
hr {
  margin: 20px 0 50px 0;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
  .scrollToTop {
    opacity: 0.5;
  }
}
